@import url("https://fonts.googleapis.com/css2?family=Kenia&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$fontOne: "Roboto", sans-serif;
$fontTwo: "Kenia", sans-serif;

body {
  font-family: $fontOne;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: rgb(58, 73, 83);
  text-align: center;
  align-items: center;
  position: relative;
}

.get-Nofti-Btn {
  padding: 10px 35px;
  border-radius: 5px;
  border: none;
  color: black;
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    background-color: rgb(135, 180, 219);
  }

  &:active {
    background-color: rgb(198, 226, 250);
  }
}

.notigication-Wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  justify-content: center;
  padding-left: 10px;
  top: 35%;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(255, 70, 70);
  opacity: 0;
  transition: all 0.5s ease-in 0.1s;

  p {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 600;
    font-family: inherit;
  }
}

.notigication-Wrap.active {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 600;
  font-family: inherit;
  opacity: 1;
}
